spacy>=3.7.0
spacy-transformers>=1.2.5
PyPDF2
python-docx
opencv-python
pytesseract
nltk
tqdm
requests
kaggle
huggingface_hub[hf_xet]
pandas
scikit-learn
matplotlib
seaborn
faker
wordcloud
networkx
